.animal-card {
    width: 25%;
    padding: 25px;
    border: 3px solid #FFE8D6;
    margin: 20px;
    font-size: 1.2rem;
    line-height: 2;
}

.animal-card-link {
    color: black;
    padding:10px;
    position: relative;
    top: 15px;
    left: 30%;
    font-size: 1.5rem;
    background-color: #A5A58D;
    font-weight: bolder;
    border-radius: 15px;
    font-family: Futura, serif;
}

.animal-card-link:hover {
    background-color: #CB997E;
    color: white;
}

.animal-card-data {

    font-family: "American Typewriter", serif;
    color: #FFE8D6;
    word-break: break-word;
}

.comment {
    color: #FFE8D6;
    margin: 10px 30px;
}

.modal-style-likes {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 100%);
    background-color: #FFE8D6;
    color: black;
    padding: 20px;
    line-height: 1.5;
    border-radius: 30px;
    border: 3px solid black;
    width: fit-content;
}

.title-modal-likes {
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px solid orange;
}

.hover-data:hover {
    cursor: pointer;
}